.bg{
    background-image: linear-gradient(to right top, #683cb9, #593db3, #4b3ead, #3c3ea6, #2c3d9f, #363fa3, #4040a8, #4942ac, #6b44bc, #8e44ca, #b141d4, #d539dc);  
    background-attachment: fixed;
    min-height: 100vh;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.delete{
    transition: all .4s;
    color: #b8b8b8;
    background: #E40066;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 200px;

    &:hover {
        background-color: #E40066;
        color: aliceblue;
    }
}